<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.bookstore.dao.CartDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.zz.bookstore.entity.Cart">
		<id column="id" property="id" />
		<result column="booksid" property="booksid" />
		<result column="num" property="num" />
		<result column="userid" property="userid" />
		<result column="creatime" property="creatime" />
		<result column="flag" property="flag" />
	</resultMap>

	<resultMap id="BaseResultMap1" type="com.zz.bookstore.entity.Cart">
		<id column="id" property="id" />
		<result column="booksid" property="booksid" />
		<result column="num" property="num" />
		<result column="userid" property="userid" />
		<result column="creatime" property="creatime" />
		<result column="flag" property="flag" />

		<collection property="books" resultMap="com.zz.bookstore.dao.BooksDao.BaseResultMap"></collection>
	</resultMap>

	<select id="selectCartByUid" parameterType="int" resultMap="BaseResultMap1">
		select * from t_cart c
		inner join t_books b
		on c.booksid=b.id
		where userid = #{userid}
	</select>

</mapper>
