<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.bookstore.dao.GoodscateDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.zz.bookstore.entity.Goodscate">
		<id column="cid" property="cid" />
		<result column="catename" property="catename" />
		<result column="flag" property="flag" />
	</resultMap>

</mapper>
