<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.bookstore.dao.GoodstyleDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.zz.bookstore.entity.Goodstyle">
		<id column="sid" property="sid" />
		<result column="stylename" property="stylename" />
		<result column="cateid" property="cateid" />
		<result column="flag" property="flag" />
	</resultMap>

</mapper>
