<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.bookstore.dao.OrderdetailDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.zz.bookstore.entity.Orderdetail">
		<id column="id" property="id" />
		<result column="booksid" property="booksid" />
		<result column="num" property="num" />
		<result column="orderid" property="orderid" />
	</resultMap>

	<resultMap id="BaseResultMap1" type="com.zz.bookstore.entity.Orderdetail">
		<id column="id" property="id" />
		<result column="booksid" property="booksid" />
		<result column="num" property="num" />
		<result column="orderid" property="orderid" />

		<collection property="books" resultMap="com.zz.bookstore.dao.BooksDao.BaseResultMap"></collection>
	</resultMap>

</mapper>
