<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.bookstore.dao.UserdetailDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.zz.bookstore.entity.Userdetail">
		<id column="id" property="id" />
		<result column="userid" property="userid" />
		<result column="nickname" property="nickname" />
		<result column="sex" property="sex" />
		<result column="birthday" property="birthday" />
		<result column="url" property="url" />
	</resultMap>

</mapper>
